<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">

$(".left_menu > ul > li").click(function(){
	if($("#sub_"+this.id).css("display")=="block"){
	$("#sub_"+this.id).slideUp();
	}else{
		if($("#"+this.id).attr("class")!="has_submenu"){
			$(".has_submenu + ul").slideUp();				
		}
		$(".left_menu ul li").removeClass("active_menu");
		if($("#sub_"+this.id).css("display")=="none"){
			$(".has_submenu + ul").slideUp();		
		}
		$("#sub_"+this.id).slideToggle("medium");
		$("#"+this.id).toggleClass("active_menu");
		$("#sub_"+this.id).toggleClass("transparent");
		$('#form_contacto_curso')[0].reset();		
}
});
	$("#form_contacto_curso").submit(function(){
		if(grecaptcha.getResponse() == ""){
			  $(".mensaje_validacion_error").fadeIn();
			  event.preventDefault();
		}
		else{
		  $(".mensaje_validacion_error").fadeOut();
			$(".mensaje_validacion").fadeIn();
			$('#form_contacto_curso')[0].reset();
		}
	
});

	var mq = window.matchMedia( "(max-width: 767px)" );
	if (mq.matches) {
	$(".g-recaptcha").attr("data-size","compact");
	}

</script>

<section class="cursos view">
	<section class="content">
		<center class="texto_principal">
				<h1 class="black wow fadeInDown">CURSOS</h1>
				<div class="triangle"></div>
	<p class="black body_text wow fadeIn triang_curso">Si estás interesado en experimentar todas las cosas nuevas que te ofrece el increible mundo submarino, en SCUBATEC DIVE CENTER te ofrecemos todos los cursos, desde las primeras experiencias, pasando por cursos iniciales hasta las especializaciones sin dejar de lado el fascinante mundo del buceo Técnico. Y si crees que esta era la profesión que estabas buscando también te podemos ayudar... Ven a vivir la experiencia más impresionante de tu vida. El buen entrenamiento de una actividad como esta comienza en un salón de clase, nosotros en SCUBATEC tenemos toda la infraestructura necesaria para lograr que cumplas todos los objetivos requeridos en cada uno de los niveles de entrenamiento </p>

		</center>	

		<div class="main_content" ng-controller="cursosController">
			<div class="cursos_menu_responsive" onclick="$('.menu_cursos').slideToggle();">
				<h3 class="black">VER TODOS LOS CURSOS</h3>
			</div>
			<aside class="menu_cursos">
				<nav class="left_menu">
					<ul class="main_list">
						<li id="discover" class="active_menu" ng-click="curso(0,'DISCOVER SCUBA DIVING');">DISCOVER SCUBA DIVING</li>
						<li id="open_water" ng-click="curso(1,'OPEN WATER DIVER');">OPEN WATER DIVER</li>
						<li id="reactive">RE ACTIVE (REFRESCAMIENTO)</li>
						<li id="advanced" ng-click="curso(2,'ADVANCED OPEN WATER');">ADVANCED OPEN WATER</li>
						<li id="especialidades" class="has_submenu">ESPECIALIDADES</li>
							<ul class="submenu" id="sub_especialidades">
								<li ng-click="curso(11,'Buceo desde Bote');"> - Buceo desde Bote</li>
								<li> - Fotografia Digital Subacuática</li>
								<li ng-click="curso(8,'Buceo En Corrientes');"> - Buceo En Corrientes</li>
								<li> - Buceo Con Traje Seco</li>
								<li> - Proveedor De Oxígeno</li>
								<li ng-click="curso(5,'Aire Enriquecido (Nitrox)');"> - Aire Enriquecido (Nitrox)</li>
								<li> - Especialista En Equipos</li>
								<li ng-click="curso(7,'Buceo Multinivel');"> - Buceo Multinivel</li>
								<li ng-click="curso(10,'Buceo Nocturno');"> - Buceo Nocturno</li>
								<li> - Control De Flotabilida</li>
								<li> - Sidemount (Montaje Lateral)</li>
								<li ng-click="curso(3,'Navegacion Subacuatica');"> - Navegacion Subacuatica</li>
								<li ng-click="curso(4,'Buceo Profundo');"> - Buceo Profundo</li>
								<li ng-click="curso(6,'Buceo En Naufragios');"> - Buceo En Naufragios</li>
								<li ng-click="curso(9,'Busqueda Y Recuperacion');"> - Busqueda Y Recuperacion</li>
							</ul>
						<li id="rescue" ng-click="curso(12,'RESCUE DIVER');">RESCUE DIVER</li>
						<li id="emergency">EMERGENCY FIRST RESPONSE</li>
						<li id="cursos_niños" class="has_submenu">CURSOS PARA NIÑOS</li>
							<ul class="submenu" id="sub_cursos_niños">
								<li>- Bubblemaker</li>
								<li>- PADI Seal Team</li>
							</ul>
						<li id="cursos_profesionales" class="has_submenu">CURSOS PROFESIONALES</li>
							<ul class="submenu" id="sub_cursos_profesionales">
								<li> - Divemaster</li>
								<li> - Asistente Instructor</li>
								<li> - Open Water Scuba Instructor (OWSI)</li>
								<li> - Instructor de Especialidades</li>
								<li> - Master Scuba Diver Trainer</li>
								<li> - IDC Staff Instructor</li>
								<li> - EFR Instructor</li>
							</ul>
						<li id="cursos_tecnicos" class="last has_submenu">CURSOS BUCEO TÉCNICO</li>
							<ul class="submenu last" id="sub_cursos_tecnicos">
								<li> - Discover Tec Diving </li>
								<li> - Tec 40 </li>
								<li> - Tec 45 </li>
								<li> - Tec 50 </li>
								<li> - Tec Trimix 65 </li>
								<li> - Tec Trimix Diver </li>
								<li> - Tec Gas Blender </li>
								<li> - Tec Sidemount </li>
							</ul>	
					</ul>
				</nav>
			</aside>
			<section class="info_form wow fadeIn">
				<div class="top_section slide-animate" ng-include="template.url">					
				</div>
				<div class="form">
					<center><h3 class="yellow">CONTACTENOS <span class="whity">para mayor información</span></h3></center>
					
					<form class="contacto" name="form_contacto_curso" id="form_contacto_curso">
							<center>
								<label>Nombre y Apellido:</label>
								<input type="text" required placeholder="Nombre y Apellido"/></br></br>
								<label>Teléfono:</label>
								<input type="tel" required onkeypress="return validarEntero(event);" placeholder="Teléfono" /></br></br>
								<label>Email:</label>
								<input type="email" required placeholder="Email"/></br></br>
								<label class="lbltextarea">Comentario</label>
								<textarea  rows="4" ng-model="comentario" required placeholder="Comentario" id="#comentario"></textarea></br></br>
								<!--label id="capt_lbl">Escriba los caracteres que ve en la imagen:</label-->
								<center><div class="g-recaptcha" id="captcha_google1" data-sitekey="6LciHgkTAAAAAJyc-m_gH68lBbRkr9Y77JmzcSTj"></div></center>
								<div class="cleaner"></div></br>
								<p class="yellow mensaje_validacion_error">El captcha es obligatorio</p>
								<!--input type="text" id="captcha" required placeholder="Captcha"/></br></br-->
								<div class="cleaner"></div>
								<button type="submit" id="submit_form_contacto_c" class="read_more enviar">ENVIAR</button>
								<div class="cleaner"></div>
								</br>
								<p class="yellow mensaje_validacion"> Su mensaje ha sido enviado con éxito. Lo estaremos contactando en la brevedad posible</p>
						</center>




					</form>
				</div>
			</section>
		</div>
	</section>
		<div class="cleaner"></div>
		<div ng-include src="'contact_info.html'" class="partial_info"></div>
</section>	

