    <div class="cover">

            <div class="cover-image"></div>
            <center class="container" id="particles-js">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center main-banner">
                        <!--h1 class="text-inverse">Prog Network</h1-->
                        <center class="main-logo">
                            <img src="img/logolight.png">                            
                        </center>
                        <input type="text" ng-enter="searchArtist(keywordSearch);" class="input-search" ng-model="keywordSearch" placeholder="Enter your prog search"/>  
                        <button ng-click="searchArtist(keywordSearch);" class="search-button"><span ng-class="{ 'ion-load-c fa-spin': searching, 'ion-ios-search': searching==false }"></span></button>
                        <br>
                        <br>
                        <center>
                            <div class="search-types">
                                <p ng-if="searchType=='artist'">
                                    <span class="ion-planet"></span> Planet Mode
                                    </br><span class="tiny">Search for artists/bands</span>
                                </p>
                                <p ng-if="searchType=='master'">
                                    <span class="ion-network"></span> System Mode
                                    </br><span class="tiny">Search for albums</span>
                                </p>

                                <div class='toggle' id='switch' ng-click="setSearchMode(searchType);">
                                    <div class='toggle-text-off'></div>
                                    <div class='glow-comp'></div>
                                    <div class='toggle-button'></div>
                                    <div class='toggle-text-on'></div>
                                </div>
                            </div>
                            <ul class="search-results row" ng-show="searchIsDone==true">
                                <li ng-show="searchType=='artist'" ng-click="emptyTrack(); showArtistData(res.id,res.thumb);"  ng-repeat="res in results" class="col-md-6" ng-if="$index<=7"> 
                                         <img class="search-thumb" ng-src="{{res.thumb}}">
                                        {{ res.title | limitTo: 15 }}{{res.title.length > 15 ? '...' : ''}}
                                </li>
                                <li ng-show="searchType=='master'" ng-click="emptyTrack(); showReleaseInfo(res.resource_url,res.thumb);"  ng-repeat="res in results" class="col-md-6" ng-if="$index<=7"> <img class="search-thumb" ng-src="{{res.thumb}}">
                                        {{ res.title | limitTo: 15 }}{{res.title.length > 15 ? '...' : ''}}
                                </li>
                            </ul>                            
                        </center>
                    </div>
                </div>
            </center>
        </div>


        <div class="section results-div" id="results">

        </div>
            <div class="container content-results">
                <div class="row">
                    <div class="col-md-12">
                        <center>                        
                            <div class="results container">
                            <div class="row">
                                <div class="col-md-8">
                                <div class="loader">
                                <div id="particles-loading"></div>
                                <p>Building graph ({{percentaje | limitTo: 5}}%)</p>
                                <!--div ng-if="showManualConstruction==true">
                                    <p>Cant't see the graph?</p>
                                    <button classs="manual-button">Click here</button>                                    
                                </div-->
                                </div>
                                    <div class="graphDrag">
                                        <graph></graph>                                        
                                    </div>
                                </div>
                                <div class="col-md-4 white-info" ng-if="afterSearch==true">
                                <div class="card-background">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img ng-click="buildG();" ng-src="{{img_artist}}">
                                        </div>
                                        <div class="col-md-8">                                    
                                        <h3 ng-if="searchType=='artist'">{{artistBase.name}}</h3>
                                        <h3 ng-if="searchType=='master'">{{masterInfo.title}}</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                            <span class="staticon ion-network"></span>
                                            <p>{{graph.nodes.length}} nodes</p>
                                            </div>
                                            <div class="col-md-6">
                                            <span class="staticon ion-merge"></span>
                                            <p>{{graph.links.length}} links</p>
                                            </div>
                                        </div>

                                        <span class="level-label" ng-if="graph.links.length>0 && graph.links.length<=49"><strong>Level:</strong> Molecular graph</span>
                                        <span class="level-label" ng-if="graph.links.length>=50&& graph.links.length<=199"><strong>Level:</strong> Earthling graph</span>
                                        <span class="level-label" ng-if="graph.links.length>=200 && graph.links.length<=499"><strong>Level:</strong> Galaxy graph</span>
                                        <span class="level-label" ng-if="graph.links.length>=500 && graph.links.length<=999"><strong>Level:</strong> Interstellar graph</span>
                                        <span class="level-label" ng-if="graph.links.length>=1000 && graph.links.length<=1499"><strong>Level:</strong> Intergalactic graph</span>
                                        <span class="level-label" ng-if="graph.links.length>=1500 && graph.links.length<=1999"><strong>Level:</strong> Astral graph</span>
                                        <span class="level-label" ng-if="graph.links.length>=2000"><strong>Level:</strong> Multiverse graph</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="info-artist">
                                    <p ng-if="searchType=='artist'" class="artist-description" ng-bind-html="artistBase.profile"></p>                                    
                                    <div ng-if="artistBase.groups!=undefined && searchType=='artist'" class="row projects-members">
                                        <div class="col-md-6">
                                            <h4>Active Projects</h4>
                                            <ul class="groups-members">
                                                <li id="list-{{projects.id}}" onmouseover="bigGraph(this.id);" onmouseout="normalGraph(this.id)" ng-if="projects.active==true" ng-repeat="projects in artistBase.groups">{{projects.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Previous Projects</h4>
                                            <ul class="groups-members">
                                                <li id="list-{{projects.id}}" onmouseover="bigGraph(this.id);" onmouseout="normalGraph(this.id)" ng-if="projects.active==false" ng-repeat="projects in artistBase.groups">{{projects.name}}</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div ng-if="artistBase.members!=undefined && searchType=='artist'" class="row projects-members">
                                        <div class="col-md-6">
                                            <h4>Current members</h4>
                                            <ul class="groups-members">
                                                <li id="list-{{musician.id}}" onmouseover="bigGraph(this.id);" onmouseout="normalGraph(this.id)" ng-if="musician.active==true" ng-repeat="musician in artistBase.members">{{musician.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Previous members</h4>
                                            <ul class="groups-members">
                                                <li id="list-{{musician.id}}" onmouseover="bigGraph(this.id);" onmouseout="normalGraph(this.id)" ng-if="musician.active==false" ng-repeat="musician in artistBase.members">{{musician.name}}</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div ng-if="masterInfo.musicians!=undefined && searchType=='master'" class="row projects-members" ng-class="{'fix_height_album' : searchType=='master'}">
                                        <div class="col-md-12">
                                            <h4>Album Credits</h4>
                                            <ul class="groups-members">
                                                <li  class="col-md-6" id="list-{{projects.id}}" ng-repeat="musician in masterInfo.musicians">{{musician.name}}</br> <span class="tiny">({{musician.role}})</span></li>
                                            </ul>
                                            <iframe class="youtube-album" width="90%" height="200" ng-src="{{trustSrc(masterInfo.videos[0].uri.replace('watch?v=', 'v/'))}}" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>

                                    <div class="buttons">
                                        <button ng-if="searchType=='artist'" ng-click="getReleases(artistBase.releases_url,artistBase.name);" class="btn info-buttons" data-toggle="modal" data-toggle="tooltip" title="Show albums" data-target="#modalAlbums"><i class="ion-ios-musical-notes"></i>&nbsp;&nbsp;Albums</button>
                                        <button ng-if="searchType=='artist'" type="button" class="btn info-buttons" data-toggle="modal" data-target="#modalYoutube"><i class="ion-social-youtube-outline"></i>&nbsp;&nbsp;Videos</button>
                                    </div>
                                </div>
<!--div class="col-md-4 white-info ng-scope" ng-if="afterSearch==true">
                                            <div class="info-circle">
                                            <span class="ion-ios-information-outline"></span><p>Bio</p>
                                            </div>
                                            <img ng-click="buildG();" ng-src="{{img_artist}}" style="border-radius: 84px;"/>    
 <h3 class="name-artist">{{artistBase.name}}</h3>
                                            <div class="album-circle"><span class="ion-ios-musical-notes"></span><p>Albums</p></div>
                                            <div class="videos-circle"><span class="ion-social-youtube-outline"></span><p>Videos</p></div>
                                </div-->

                                </div>



                                    </div>
                                <div class="controls" ng-show="afterSearch==true">
                                    <span class="label-span">Set the Controls</span>
                                        <div class="onoffswitch" data-toggle="tooltip" title="Expanded">
                                            <input ng-model="expanded" ng-change="build2nd(artistBase);" ng-checked="expanded==true" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                            <label class="onoffswitch-label" for="myonoffswitch"></label>
                                        </div>        
                                    <span onclick="toggleFullScreen();" data-toggle="tooltip" title="Full Screen" class="full-screen ion-arrow-expand"></span> 
                                    &nbsp;&nbsp;   
                                    <span data-toggle="tooltip" ng-click="toggleInfo();" title="Show/Hide Info" class="full-screen ion-ios-information-outline"></span>
                                    <div class="sliderContainer">
                                        <rzslider data-toggle="tooltip" title="Zoom" 
                                             rz-slider-model="zoomSlider.value"
                                             rz-slider-options="zoomSlider.options"></rzslider>
                                    </div>
                                    </div>

                            </div>
                            </div>
                            <div ng-if="tracking.length>1" id="wizard" class="form_wizard wizard_horizontal">
                                    <ul class="wizard_steps anchor">
                                        <li ng-repeat="track in tracking">
                                            <a href="#step-1" class="done" isdone="1" rel="1">
                                                <span class="step_no">{{$index+1}}</span>
                                        <small>{{track.name}}</small>
                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                        
                                </div>
                        </center>
                    </div>
                </div>

            </div>


               <div id="modalYoutube" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Listen some {{artistBase.name}} music</h4>
          </div>
          <div ng-if="playlist_id!=undefined" class="modal-body">
           <iframe width="560" height="315" ng-src="{{trustSrc(playlist_id_current)}}" frameborder="0" allowfullscreen></iframe>
          </div>
          <center><button ng-click="refreshPlayer(playlist_id)" type="button" class="btn btn-default"><span class="ion-ios-refresh-empty"></span>&nbsp;Refresh to current artists</button></center>
          </br>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="ion-ios-close-outline"></span>&nbsp;&nbsp;Close</button>
          </div>

        </div>

      </div>
    </div>

    <div id="modalAlbums" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Discover {{artistBase.name}} music</h4>
          </div>

          <div class="col-md-3" ng-repeat="alb in albums">
          <center>
          <img class="album-thumb" ng-if="alb.thumb!=''" ng-src="{{alb.thumb}}">
          <img class="album.thumb" ng-if="alb.thumb==''" ng-src="img/album-default.png">          
          </center>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="ion-ios-close-outline"></span>&nbsp;&nbsp;Close</button>
          </div>

        </div>

      </div>
    </div>