<!DOCTYPE html>
<html ng-app="progtonode">
    
    <head>
        <title>ProgToNode - Graph search for prog music</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,200' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
        <!-- libs -->
        <script type="text/javascript" src="js/lib/angular.min.js"></script>
        <script type="text/javascript" src="js/lib/particles.min.js"></script>
        <script type="text/javascript" src="js/lib/sigma.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-sanitize.js"></script>
        <script type="text/javascript" src="js/lib/sweetalert.min.js"></script>
        <script src="js/lib/d3.v3.min.js"></script>

        <!-- App files -->
        <script type="text/javascript" src="js/app/main.js"></script>
        <script type="text/javascript" src="js/app/graphConf.js"></script>
        <script type="text/javascript" src="js/app/services.js"></script>
        <script type="text/javascript" src="js/app/controllers.js"></script>

    </head>
    
    <body ng-controller="mainController">

    <div class="container_single_page">
    </div>
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="img/proglogo.png" class="logo"><span><strong>PROG</strong>TO<strong>NODE</strong></span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="menu">
                                <a href="#"><span class="ion-navicon navicon"></span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
    <div class="cover">

            <div class="cover-image"></div>
            <center class="container" id="particles-js">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center main-banner">
                        <!--h1 class="text-inverse">Prog Network</h1-->
                        <img src="img/logolight.png" class="main-logo">
                        <p class="text-inverse">Graph search for prog music</p>
                        <input type="text" ng-enter="searchArtist(keywordSearch);" class="input-search" ng-model="keywordSearch" placeholder="Search for a band, project, musician"/>  
                        <button ng-click="searchArtist(keywordSearch);" class="search-button"><span ng-class="{ 'ion-load-c fa-spin': searching, 'ion-ios-search': searching==false }"></span></button>
                        <br>
                        <br>
                        <center>
                            <ul class="search-results row" ng-show="searchIsDone==true">
                                <center><p>Results:</p></center>
                                <li ng-click="emptyTrack(); showArtistData(res.id,res.thumb);" ng-repeat="res in results" class="col-md-6" ng-if="$index<=7">
                                <img class="search-thumb" ng-src="{{res.thumb}}">
                                {{ res.title | limitTo: 15 }}{{res.title.length > 15 ? '...' : ''}}</li>
                            </ul>                            
                        </center>
                    </div>
                </div>
            </center>
        </div>
        <div class="section results-div" id="results">

        </div>
            <div class="container content-results">
                <div class="row">
                    <div class="col-md-12">
                        <center>                        
                            <div class="results container">
                            <div class="row">
                                <div class="col-md-8">
                                <div ng-if="loading==true" class="loader"><span class="ion-load-c fa-spin"></span>
                                <p>Building graph ({{percentaje | limitTo: 5}}%)</p>
                                </div>
                                    <graph></graph>
                                </div>
                                <div class="col-md-4 white-info">
                                    <h3>{{artistBase.name}}</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img ng-click="buildG();" ng-src="{{img_artist}}">
                                        </div>    
                                        <div class="col-md-6 div-description">
                                            <p class="artist-description" ng-bind-html="artistBase.profile"></p>
                                        </div>
                                    </div>
                                    <div ng-if="artistBase.groups!=undefined " class="row projects-members">
                                        <div class="col-md-6">
                                            <h4>Active Projects</h4>
                                            <ul class="groups-members">
                                                <li ng-if="projects.active==true" ng-repeat="projects in artistBase.groups">{{projects.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Previous Projects</h4>
                                            <ul class="groups-members">
                                                <li ng-if="projects.active==false" ng-repeat="projects in artistBase.groups">{{projects.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div ng-if="artistBase.members!=undefined" class="row projects-members">
                                        <div class="col-md-6">
                                            <h4>Current members</h4>
                                            <ul class="groups-members">
                                                <li ng-if="musician.active==true" ng-repeat="musician in artistBase.members">{{musician.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Previous members</h4>
                                            <ul class="groups-members">
                                                <li ng-if="musician.active==false" ng-repeat="musician in artistBase.members">{{musician.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <button class="btn info-buttons"><i class="ion-network"></i>&nbsp;&nbsp;Journey</button>
                                        <button class="btn info-buttons"><i class="ion-ios-musical-notes"></i>&nbsp;&nbsp;Albums</button>
                                        <button type="button" class="btn info-buttons" data-toggle="modal" data-target="#myModal"><i class="ion-social-youtube-outline"></i>&nbsp;&nbsp;Videos</button>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                            <div ng-if="tracking.length>1" id="wizard" class="form_wizard wizard_horizontal">
                                    <ul class="wizard_steps anchor">
                                        <li ng-repeat="track in tracking">
                                            <a href="#step-1" class="done" isdone="1" rel="1">
                                                <span class="step_no">{{$index+1}}</span>
                                        <small>{{track.name}}</small>
                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                        
                                </div>
                        </center>
                    </div>
                </div>

            </div>
        <footer class="section footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copy"></br></br></br>Copyright &copy; 2015</p>                  </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="https://www.instagram.com/progtonode/" target="blank"><i class="social ion-social-instagram text-inverse"></i></a>
                                <a href="#"><i class="social ion-social-twitter text-inverse"></i></a>
                                <a href="https://www.facebook.com/progtonode/" target="blank"><i class="social ion-social-facebook text-inverse"></i></a>
                                <a href="https://github.com/rafaelbecks/progtonode" target="blank"><i class="social ion-social-github text-inverse"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="https://www.instagram.com/progtonode/" target="blank"><i class="social ion-social-instagram text-inverse"></i></a>
                                <a href="#"><i class="social ion-social-twitter text-inverse"></i></a>
                                <a href="https://www.facebook.com/progtonode/" target="blank"><i class="social ion-social-facebook text-inverse"></i></a>
                                <a href="https://github.com/rafaelbecks/progtonode" target="blank"><i class="social ion-social-github text-inverse"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Listen some {{artistBase.name}} music</h4>
      </div>
      <div ng-if="playlist_id!=undefined" class="modal-body">
       <iframe width="560" height="315" ng-src="{{trustSrc(playlist_id_current)}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <center><button ng-click="refreshPlayer(playlist_id)" type="button" class="btn btn-default"><span class="ion-ios-refresh-empty"></span>&nbsp;Refresh to current artists</button></center>
      </br>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="ion-ios-close-outline"></span>&nbsp;&nbsp;Close</button>
      </div>

    </div>

  </div>
</div>
            <script>
                    particlesJS.load('particles-js', 'particles.json', function() {
                      console.log('callback - particles.js config loaded');
                    });

                   
                    $(document).ready(function(){
                        var bg=Math.floor((Math.random() * 13) + 1);
                        $(".container_single_page").attr("style","background-image : url('img/"+bg+".jpg'); background-position: center; background-size:cover; background-attachment: fixed;");


                    $(window).on('scroll', function () {
                        var pixs = $(document).scrollTop()
                        pixs = pixs / 120;
                        $(".container_single_page").css({"-webkit-filter": "blur("+pixs+"px)","filter": "blur("+pixs+"px)" });
                    });

                    });

           </script>

    </body>

</html>