
a{
		color:#fff !important;
}
h1{
	font-family: 'Megrim', cursive;
}

.navbar-brand,p,h2,h3,h4, a{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.cover p{
	font-weight: 400;
}

.main-banner{
  position: absolute;
  top: 28vh;
  left: 0;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
}

.btn-primary{
	  border-radius: 0px;
	  background: transparent;
	  border: 1px solid #fff;
}



.input-search{
	  background: transparent;
	  border: 1px solid rgba(255,255,255,.5);
	  padding: 12px 10px 12px 10px;
	  width: 284px;
	  color: #fff;  
}

.search-button{
  background: transparent;
  border: 1px solid rgba(255,255,255,.5);
  color: #fff;
  font-size: 23px;
  display: inline-block;
  /* height: 38px; */
  padding: 2px 12px 10px 11px;
}

.search-button span{
	  position: relative;
	  top: 2px;
}

.social{
	font-size: 31px;
  margin-right: 18px;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

::-webkit-scrollbar { width: 4px;  height: 4px; background-color: #999;}    
::-webkit-scrollbar-track { background-color: #00CCCC;} 
::-webkit-scrollbar-track-piece { background-color: #999; } 
::-webkit-scrollbar-thumb {  background-color: #222;	border: none;} 
::-webkit-scrollbar-button:end:increment { display:none;}
::-webkit-scrollbar-button:start:decrement{  display:none;}
::-webkit-scrollbar-corner {background-color: #999;}

#graph{
	  width: 100%;
  height: 100vh;
}

.sigma-mouse{
	position: relative !important;
}

.results-div{
	background:url('../img/graph.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.text-primary{
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	color:#fff;
}

.main-logo{
	width: 38%;
}
.white-info{
	background: #fefefe;
	border-radius: 2px;
}

.white-info a{
	color:#000 !important;
	font-weight: 700;
}

.white-info a:hover{
	color: #012579 !important;
}

.artist-description{
	text-align: justify;
	font-size: 12px;
}

.groups-members{
	  list-style: none;
	  text-align: left;
	  padding-left: 17px;
}

.description-div{
  max-height: 180px;
  overflow-y: auto;
  padding-right: 6px;
  position: relative;
  right: 10px;
}

.node {
  stroke: #fff;
  stroke-width: 5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.info-buttons{
  background: transparent;
  border: 1px solid #555;
  margin-bottom: 13px;
  padding: 8px;
  font-weight: 200;
  margin-right: 7px;
}

.div-description{
	  max-height: 172px;
  overflow-y: auto;
  position: relative;
  right: 12px;
}

.projects-members{
	  max-height: 39vh;
  overflow-y: auto;
  position: relative;
  right: 12px;
  top: 4px;
}

.buttons{
  margin-top: 7px;
}

.result-text{
	margin-top: 0px;
}

text{
	fill: white;
	cursor: pointer;
}

.show-results{
	top:8vh;
}

.search-results{
  color: #fff;
  font-size: 18px;
  text-align: left;
  width: 40%;
  list-style: none;
  position: relative;
  right: 9px;
  max-height: 51vh;
  overflow-y: auto;
}

.search-results li{
  text-align: center;
  margin-bottom: 8px;
  width: 50%;
  cursor: pointer;
  word-wrap: break-word;
}

.search-results p{
  font-size: 15px;
  color: #fff;
  margin-bottom: 4px;
}

.search-thumb{
  width: 27%;
  border-radius: 52px;
  margin-right: 12px;
}
}

/* SPINNER */

.spinner {
  width: 40px;
  height: 40px;

  position: absolute;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 14%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner-container{
  height: 88px;
  width: 131px;
}

.circle{
  cursor: pointer;
}